.form-layout{
    max-width: 800px;
}

.submit-btn{
    background-color: #00e07f !important;
    color: #040806 !important;
}

.destroy-btn{
    background-color: #F34545 !important;
    color: #fff !important;
}
